body {
    font-family: 'Kameron';    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6e5c6;
    margin: 0rem;
}
main {
    margin: 0.5rem;
}
.cookie-section {
    border-width: 0.1rem;
    border-color: black;
    background-color: white;
    border-style: solid;
    position: fixed;
    bottom: 1.3rem;
    left: 50%;    
    transform: translate(-50%, -50%); /* move element in the center */
    padding: 1rem;
    z-index: 9999;
}
.cookie-button {
    text-transform: uppercase;
}
footer {
    margin-top: auto;
  }
p {
    line-height: 1.5;    
    word-spacing: 0.3rem;
    letter-spacing: normal;

}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b6d9ed;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar > li {
    float: left;
    display: flex;
    align-self: center;
    padding: 0.9rem 1rem;
  }
  
  .navbar > li a {
    display: block;
    color: black;
    text-align: center;    
    text-decoration: none;
    font-size: 1.5rem;
  }

  .navbar > li:hover {
    background-color: #97c3db;
  }

  .navbar > li:first-child {
    padding: 0.3rem;
  }

  .active {
    font-weight: 700;
    text-decoration: underline;
  }
  .logo {
    width: 3.75rem;
  }
  header {
    text-align: center;
    
  }
  .main-section {
    display: flex;
  }
  .home-article {


  }
  .article-image {
    min-width: 100%;    
    max-width: 100%;
  }
  article {
    padding: 1rem;
  }
  .article-navagio-middle {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }
  
  .article-navagio-right {
    min-width: 20%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }
  
  aside {
    max-width: 20%;
    min-width: 20%;
  }
  .width-320 {
    max-width: 20rem;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .padding-1 {
    padding: 1rem;
  }
  
  a:active {
    color:#97c3db
  }
  
  .max-width-45 {
    max-width: 45%;
  }
  
  .max-width-50 {
    max-width: 50%;
  }
  
  .max-width-100 {
    max-width: 100%;
  }
  
  form {
    padding: 4rem;
    background-color: #b6d9ed;
  }
  
  .float-right {
    float: right;
  }
  
  .min-width-50 {
    min-width: 50%;
  }
  
  .about-us-section {
    padding: 0 15%;
  }
  
  p > label {
    display: block;
  }
  
  article > p {
    text-indent: 20px;
  }



